.how {
    @media screen and (min-width: 320px) {
        &__title {
            margin-bottom: 0px;
        }
        &__list {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            border-radius: 5px;
            max-width: 300px;
            width: 100%;
            overflow: hidden;
            background: #ddfade;
            transition: all 400ms;
            position: relative;
            z-index: 1;
            margin: 15px 15px 0;
            &:hover {
                transform: translateY(-10px);
            }
            &-title {
                text-align: center;
                font-weight: 700;
                font-size: 1.2em;
                margin-bottom: 10px;
            }
            &-text {
                text-align: center;
                
            }
            &-img {
                margin-bottom: 10px;
                height: 150px;
                width: 100%;
                object-fit: cover;
            }
            &-inner {
                padding: 10px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        &__list {
            flex-direction: row;
            align-items: stretch;
        }
    }

    @media screen and (min-width: 1024px) {
        &__title {
            margin-bottom: 20px;
        }
    }
}