:root {
    --swiper-theme-color: #ffcc90;
}
.works {
    
    &__button {
        top: auto;
        height: 100%;
        bottom: 0;
        color: $darkgold;
        transition: all 400ms;
        &--next {
            right: 0;
            background: rgb(41,94,106);
            background: linear-gradient(270deg, rgba(41,94,106,0.5) 50%, rgba(41,94,106,0) 100%);
        }
        &--prev {
            left: 0;
            background: rgb(41,94,106);
            background: linear-gradient(90deg, rgba(41,94,106,0.5) 50%, rgba(41,94,106,0) 100%);
        }
        &:hover {
            background: transparent;
        }
    }
}

.work {

}

